

body{
	font-family: Serif;
}

main{
		background-image: url('teaBack.png');
		background-size: 400px;
		width: 600;
		height: 500;
		color: #51414F;

	
}

header{
	background-color: #915F6D;
}

  

nav li{
    color: #51414F;
	list-style-type: none;

}

nav{
	color: #51414F;
	
	margin: 0;
	padding: 0;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

footer{
	align-items: right;
	color: #51414F;
}
