body{
	font-family: Serif;
}

main{
		background-image:linear-gradient(#915F6D, #98FB98);
		color: #51414F;

	
}

header{
	background-color: #915F6D;
}

h1{
	
}

nav li{
    color: #51414F;
}

nav{
	color: #51414F;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

footer{
	align items: right;
	color: #51414F;
}
