
.body{
	font-family: Serif;
}

main{
		background-image: url('teaBack.png');
		background-size: 400px;
		width: 600;
		height: 500;
		color: #51414F;
		text-decoration: none;

	
}

header{
	background-color: #915F6D;
}

  

menu li{
    color: #51414F;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #51414F;
	list-style-type: none;
	display:inline-block;
    border:1px solid #51414F;
    padding: 5px;

}

menu li a{
	text-decoration: none;
	color: #FFFFFF;
}

.container{
	align-items: left;

}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

footer{
	align-items: right;
	color: #51414F;
}